* {margin: 0;padding: 0;font-family: sans-serif;}

.headers {
	color: #05356E;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/********************************* =BEGIN SCROLLBAR STYLES *********************************/

::-webkit-scrollbar {
	height:9px;
	width:9px;
	background: #ccdff6;
}

::-webkit-scrollbar-thumb {
	/*chrome 10*/
	background-image: -webkit-gradient(radial, center center, 0, center center, 500, color-stop(0, #A3C3EA), color-stop(1, #031A37));
	/*chrome 11*/
	background-image: -webkit-radial-gradient(center, circle cover, #A3C3EA 0% #031A37 100%);
	-webkit-border-raduis: 1ex;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

/********************************* =BEGIN NAV STYLES *********************************/

nav {
	width: 100%;
	min-width: 30%;
	position: fixed;
	border-bottom: 2px solid #67b700;
	padding: 32px;
	background-color: #fff;
	text-align: right;
	z-index: 100;
}

#logo {
	position: absolute;
	margin-top: -4.6%;
	margin-left: 5.1%;
}

nav ul {
	margin-right: 4%;
}

nav ul li {
	display: inline;
	padding-left: 45px;
}

nav ul li a {
	text-decoration: none;
	color: #235fa5;
	font-weight: bold;
	font-size: 20px;
}

nav ul li a:hover {
	transition: all 0.4s;
	border-top: 3.5px solid #70be12;
	color: #70be12;
}

/********************************* =BEGIN TRANSLATION STYLES *********************************/

.goog-te-gadget-simple img {display: none;}

div#google_translate_element {margin-top: 1%;}

div#google_translate_element span {
	background-color: #2b578c;
	padding: 2px;
}

div#google_translate_element span a {
	font-style: sans-serif; 
	font-size: 14px;
	color: #b5c8df;
}

/********************************* =BEGIN PAGE CONTENT *********************************/

#page_wraper {
	width:100%;
}

#page_content {
	width:80%;
	margin: auto;
	padding-top: 7%;
}

#page_content p, article {
	letter-spacing: 1px;
	line-height: 21px;
	font-size: 14px;
	text-align: justify;
	color:#05356E;
}

.artline {
	border-color: #70be12;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 0.2;
	margin-bottom: 2px;
}

/********************************* =BEGIN MISC STYLES *********************************/

.content_headers {
	margin-bottom: 10px;
	margin-top: 20px;
}

#page_content p, .content_headers {
	color:#05356E;
	text-align: center;
}

.postedby {
	font-size: 13px;
	color: #235fa5;
	opacity: 0.7;
}

.postedby a {
	color: #70be12;
	font-style: italic;
	text-decoration: none;
}

.postedby a:hover {
	color: #235fa5;
	text-decoration: underline;
}

.time {font-style: italic;}

span #postedby {
	margin-bottom: 50%;
}

/********************************* =BEGIN FORM STYLES *********************************/

#name, #email {width:45%;background:url(/sites/worldtour/public/img/above-content.png) no-repeat;}

#name, #email, #textarea {border:none; padding:10px;color:#d2e3ff;margin-top: 25px;}

#name {margin-left: 3.5%;}

#textarea {
	resize: none;
	width:92.3%;
	background:url(/sites/worldtour/public/img/above-content.png) repeat;
	margin-left: 3.5%;
	height:200px;
	font-size: 14px;
}

#submit {
	border: none;
	float: left;
	padding:10px;
	position: absolute;
	margin-top: 20px;
	margin-left: 38px;
	background: url(/sites/worldtour/public/img/above-content.png) no-repeat;
	color: #d2e3ff;
	font-size: 14px;
}

#clear {
	border: none;
	float: left;
	padding:10px;
	position: absolute;
	margin-top: 20px;
	margin-left: 145px;
	background: url(/sites/worldtour/public/img/above-content.png) no-repeat;
	color: #d2e3ff;
	font-size: 14px;
}

#submit:hover, #clear:hover {
	background: url(/sites/worldtour/public/img/green_button.png) no-repeat;
	cursor: pointer;
	color: #05356E;
	font-weight: bold;
}

/********************************* =BEGIN FOOTER STYLE *********************************/

#footer_wrap {
	border-top: 2px solid #70be12;
	margin-top: 7%;
	background: url(/sites/worldtour/public/img/above-content.png) repeat;
	height: 270px;
}

#footer {
	width: 80%;
	margin:auto;
}

#footer h1 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
	color: #b5c8df;
}

#footer p {
	text-align: center;
	color:#b6c9df;
}

#footer a {
	text-decoration: none; 
	color: #70be12;
}

#footer a:hover {text-decoration: underline;}

#recent_stories {margin-left: 4.5%;}

#featured_location, #recent_stories {
	width:30%;
	float: left;
	padding: 10px;
	margin-top: 10px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 18px;
}

.social {
	text-align: center;
	float: left;
	margin-top: 20px;
	margin-left: 2%;
}

.social img {
	opacity: 0.5;
	padding: 10px;
	-moz-transform-style: preserve-3d; /*Mozilla*/
	-webkit-transform-style: preserve-3d; /*Chrome, Safari, Opera*/
	transform-style: preserve-3d; /* child elements will preserve its 3D position */
	transition: all 0.7s ease;
}

.social img:hover {
	-moz-transform: rotateY(360deg); /*Mozilla*/
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
}