* {margin: 0;padding: 0;font-family: sans-serif;}

/********************************* =BEGIN LANDING PAGE *********************************/	

.bgvideo {
	margin-top: -8%;
	position: fixed;
	bottom: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -9999;
}

div#logo img {
	margin-left: 6%;
	margin-top: -38%;
	position: absolute;
}

nav {
	border-top: 2px solid #322D00;
	background-color: rgba(0,20,0,1);
	margin-top: 42%;
	padding: 44px;
	text-align: right;
	transition: all 0.5s;
}

#lpage nav ul li {display: inline;}

#lpage nav ul li a {
	text-decoration: none;
	color:#bafbbc; 
	font-weight: bold;
	font-size: 20px;
	margin-left:40px;
}

#lpage nav ul li a:hover {color: #FFF27A;}

/********************************* =END LANDING PAGE *********************************/

/********************************* =BEGIN DYNAMIC CONTENT AFTER SCROLL *********************************/

#dynamic_video video {
	width:100%;
	height:40%;
	position:static;
	margin-top: 5em;
	border-bottom: 2px solid #f00;
}

#dynamic_logo img {
	float: left;
	position: absolute;
	margin-left: -90%;
	margin-top: -4.7%;
}

/********************************* =END DYNAMIC CONTENT *********************************/

/********************************* =BEGIN PAGE CONTENT *********************************/

#above_wrapper img {
	min-width:100%;
	width:auto;
	height:95px;
}

#page_wrapper {
	background-color: #f00;
	width:100%;
	margin-top: 5%;
	position: static;
}

#page_content {
	background-color: #ff0;
	width:80%;
	margin: auto;
} /*testing wrappers*/
