* {margin: 0;padding: 0;font-family: sans-serif;}

/********************************* =BEGIN SCROLLBAR STYLES *********************************/
::-webkit-scrollbar {
	height:9px;
	width:9px;
	background: #ccdff6;
}

::-webkit-scrollbar-thumb {
	/*chrome 10*/
	background-image: -webkit-gradient(radial, center center, 0, center center, 500, color-stop(0, #A3C3EA), color-stop(1, #031A37));
	/*chrome 11*/
	background-image: -webkit-radial-gradient(center, circle cover, #A3C3EA 0%. #031A37 100%);
	-webkit-border-raduis: 1ex;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-corner {
	background: #ccdff6;
}

/********************************* =BEGIN LANDING PAGE *********************************/	
.bgvideo {
	margin-top: -8%;
	position: fixed;
	bottom: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -9999;
}

div#logo img {
	margin-left: 6%;
	margin-top: -38%;
	position: absolute;
}

nav {
	border-top: 2px solid #322D00;
	background-color: rgba(0,20,0,1);
	margin-top: 42%;
	padding: 3%;
	text-align: right;
	transition: all 0.5s;
	z-index: 100;
}

#lpage nav ul li {display: inline;}

#lpage nav ul li a {
	text-decoration: none;
	color:#bafbbc; 
	font-weight: bold;
	font-size: 20px;
	margin-left:40px;
}

#lpage nav ul li a:hover {color: #FFF27A;}

/********************************* =BEGIN DYNAMIC CONTENT AFTER SCROLL *********************************/
#dynamic_video video {
	width:100%;
	height:40%;
	position:static;
	margin-top: 5em;
	border-bottom: 2px solid #67b700;
}

#dynamic_logo img {
	float: left;
	position: absolute;
	margin-left: -90%;
	margin-top: -4.7%;
}

#above_wraper {
	background: url(/sites/worldtour/public/img/above-content.png) repeat;
	min-width:100%;
	width:auto;
	height:200px;
	position: static; 
}

#boat {
	opacity: 0.5;
	visibility: hidden;
	position: absolute;
}

/********************************* =BEGIN PAGE CONTENT *********************************/

#page_wraper {
	width:100%;
	margin-top: 5%;
	position: static;
}

#page_content {
	width:80%;
	margin: auto;
} 
